[flake8]
# Configured for use with Black
max-line-length = 88
ignore = E203, W503
per-file-ignores = 
    # Uncomment to ignore to imports in the top-level module
    # intended to expose imports from a lower-level.
    # 
    # Replace <package name> with the name of your package directory.
    #
    # src/<package name>/__init__.py:F401
exclude =
    .git
    venv
    dist
    build
    __pycache__
